extends ../layout 

block content
  h1 Editar Usuario

  form(action=`/users/${user.id}` method="POST" enctype="multipart/form-data")
    .mb-3
      label(for="name" class="form-label") Nombre
      input#name.form-control(type="text" name="name" value=user.name required)

    .mb-3
      label(for="username" class="form-label") Username
      input#username.form-control(type="text" name="username" value=user.username required)

    .mb-3
      label(for="password" class="form-label") Contraseña
      input#password.form-control(type="password" name="password")

    .mb-3
      label(for="email" class="form-label") Email
      input#email.form-control(type="email" name="email" value=user.email required)

    .mb-3
      label(for="imagen" class="form-label") Imagen
      if user.imagen
        img(src=user.imagen width="100" class="mb-2")
      input#imagen.form-control(type="file" name="imagen")
      input(type="hidden" name="oldImagen" value=user.imagen)

    .mb-3
      label(for="rol" class="form-label") Rol
      input#rol.form-control(type="text" name="rol" value=user.rol required)

    button.btn.btn-primary(type="submit") Actualizar Usuario
